openapi: 3.0.3
info:
  title: Mboa API
  description: >
    Seed OpenAPI spec for the Mboa mobile monorepo. Covers the authentication
    surface used by the reference Auth/OTP vertical slice. Replace this file
    with the canonical spec exported from the Spring Boot backend once it is
    available — `make gen-api` regenerates `packages/api_client` from it.
  license:
    name: Proprietary
  version: v1
servers:
  - url: https://api.mboa.cm/api/v1
    description: production
  - url: https://staging.api.mboa.cm/api/v1
    description: staging
  - url: http://localhost:8080/api/v1
    description: dev
security:
  - bearerAuth: []
tags:
  - name: Visites — rapport
    description: "The agent's report, for the three parties to the visit"
  - name: Historique
    description: Recently consulted listings
  - name: Annonces
    description: Create and manage the prestataire's listings
  - name: Media
    description: Direct-to-R2 uploads via pre-signed URLs
  - name: Search
    description: Public listing search
  - name: Assignation agent
    description: Assign an Agent Mboa to a listing
  - name: Password
    description: Change the account password
  - name: Residences
    description: Bulk-create and manage grouped listings
  - name: Phone Change
    description: Change the account phone number with double OTP verification
  - name: Agent — visites
    description: Visits assigned to the agent
  - name: Admin — utilisateurs
    description: Browse accounts and suspend them
  - name: Current user
    description: The authenticated account's identity
  - name: Agent — candidatures
    description: Applications an agent has sent
  - name: Locations
    description: Country / region / city / district reference
  - name: Admin — KYC
    description: Review identity-verification submissions
  - name: Subscriptions
    description: "Tiers, subscription and payment"
  - name: Admin — annonces
    description: "Moderate listings: search, suspend, edit"
  - name: Assignation agent — résidence
    description: Assign an Agent Mboa to every unit at once
  - name: Messagerie
    description: Conversations between a user and a prestataire about a listing
  - name: Admin — Type Change
    description: Review prestataire type-change requests
  - name: Prestataire Profile
    description: Profile of the App Mboa Pro service provider
  - name: User Profile
    description: Personal profile of the App Mboa user
  - name: Visites
    description: Book a visit with an Agent Mboa
  - name: Admin — modération
    description: Review reports and moderate listings
  - name: Favoris
    description: Save listings and list what you saved
  - name: KYC
    description: Identity verification
  - name: Agent
    description: "The agent's profile, intervention zones and availability"
  - name: User Settings
    description: "Language, notification and privacy preferences"
  - name: Admin — Subscriptions
    description: Grant subscriptions and edit plan parameters
  - name: Authentication
    description: "Phone-OTP login, token refresh and logout"
  - name: Signalements
    description: Report a listing or a message
  - name: Agent — assignations
    description: Offers an agent has received
  - name: Notification Devices
    description: Register device tokens for push notifications
  - name: Account
    description: Account-wide operations (any role)

paths:
  /api/v1/agents/me/zones:
    put:
      tags:
        - Agent
      summary: Replace the agent's intervention zones — cities and/or districts (RM-M15-04)
      operationId: updateMyAgentZones
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateZonesRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AgentProfileResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/agents/me/availability:
    get:
      tags:
        - Agent
      summary: "The agent's weekly working pattern, visit length and days off"
      operationId: getMyAgentAvailability
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AvailabilityResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      tags:
        - Agent
      summary: "Replace the weekly pattern, e.g. Mon-Sat 08:00-18:00 (RM-M15-01)"
      operationId: updateMyAgentAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvailabilityRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AvailabilityResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/visites:
    get:
      tags:
        - Visites
      summary: The authenticated user's visits
      operationId: listMyVisites
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - SCHEDULED
                - CANCELLED
                - COMPLETED
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseVisiteResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Visites
      summary: Book a visit in one of the agent's free slots
      operationId: bookVisite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookVisiteRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VisiteResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/visites/{id}/rating:
    post:
      tags:
        - Visites
      summary: "Rate the agent 1–5 after the visit; optional, and only once (RM-M07-07)"
      operationId: rateVisiteAgent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateAgentRequest"
        required: true
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/visites/{id}/cancel:
    post:
      tags:
        - Visites
      summary: Cancel a visit — allowed up to 4 hours before the slot (RM-M07-04)
      operationId: cancelMyVisite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/subscriptions:
    post:
      tags:
        - Subscriptions
      summary: Subscribe to (or upgrade to) a paid tier; initiates a mobile-money
        payment
      operationId: subscribe
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PaymentInitiatedResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/subscriptions/webhook:
    post:
      tags:
        - Subscriptions
      summary: Payment confirmation webhook (HMAC-verified)
      operationId: paymentWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentWebhookRequest"
        required: true
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/signalements:
    post:
      tags:
        - Signalements
      summary: Report a listing or a message
      description: The reporter is only told the report was received — the outcome
        is never disclosed to them (RM-M23-05).
      operationId: createSignalement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSignalementRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SignalementResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences:
    get:
      tags:
        - Residences
      summary: List the authenticated prestataire's residences
      operationId: listMyResidences
      parameters:
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Residences
      summary: Bulk-create a residence and its units (drafts)
      operationId: createResidence
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateResidenceRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{residenceId}/agent:
    get:
      tags:
        - Assignation agent — résidence
      summary: The residence's assignments unit by unit — which room has whom
      operationId: listResidenceAssignments
      parameters:
        - name: residenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - APPLIED
                - PENDING
                - ACCEPTED
                - DECLINED
                - WITHDRAWN
                - REVOKED
                - RESIGNED
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssignmentResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Assignation agent — résidence
      summary: Offer every published unit to one agent; units that already have one
        are skipped
      operationId: assignAgentToResidence
      parameters:
        - name: residenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignAgentRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceAssignmentResult"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Assignation agent — résidence
      summary: Take the whole residence back; each unit's planned visits are cancelled
      operationId: withdrawResidenceAgentAssignment
      parameters:
        - name: residenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/BatchResult"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{residenceId}/agent/applications/{agentAccountId}/decline:
    post:
      tags:
        - Assignation agent — résidence
      summary: Turn one agent's residence application down
      operationId: declineResidenceApplication
      parameters:
        - name: residenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: agentAccountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/BatchResult"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{residenceId}/agent/applications/{agentAccountId}/accept:
    post:
      tags:
        - Assignation agent — résidence
      summary: Choose this agent for the residence; rival applications on those units
        are declined
      operationId: acceptResidenceApplication
      parameters:
        - name: residenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: agentAccountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceAssignmentResult"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{id}/unarchive:
    post:
      tags:
        - Residences
      summary: Return all archived units to draft so the residence can be published
        again (RM-M10-08)
      operationId: unarchiveResidenceUnits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{id}/reserve:
    post:
      tags:
        - Residences
      summary: Reserve all published units at once
      operationId: reserveResidenceUnits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{id}/rented:
    post:
      tags:
        - Residences
      summary: Mark all live units (published or reserved) as rented at once
      operationId: rentResidenceUnits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{id}/publish:
    post:
      tags:
        - Residences
      summary: Publish all draft units at once
      operationId: publishResidenceUnits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/residences/{id}/archive:
    post:
      tags:
        - Residences
      summary: Archive all units at once
      operationId: archiveResidenceUnits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ResidenceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/prestataires/me/type-change:
    post:
      tags:
        - Prestataire Profile
      summary: "Change the provider type — applied directly if eligible, else opens\
        \ an admin request"
      operationId: requestPrestataireTypeChange
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestTypeChangeRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TypeChangeResult"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/notifications/devices:
    post:
      tags:
        - Notification Devices
      summary: Register or refresh a device push token
      operationId: registerDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDeviceRequest"
        required: true
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/media/uploads:
    post:
      tags:
        - Media
      summary: Get a pre-signed URL to upload a file directly to storage
      operationId: createMediaUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUploadRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PresignedUpload"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/kyc:
    post:
      tags:
        - KYC
      summary: Submit KYC documents (R2 object keys) for verification
      operationId: submitKyc
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitKycRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KycStatusResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/favoris:
    get:
      tags:
        - Favoris
      summary: List saved listings; unavailable ones stay for 30 days flagged available=false
      operationId: listMyFavoris
      parameters:
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseFavoriResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Favoris
      summary: Save a listing (max 50 — RM-M06-02); saving one twice is a no-op
      operationId: addFavori
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddFavoriRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FavoriResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/conversations:
    get:
      tags:
        - Messagerie
      summary: List the authenticated participant's conversations
      operationId: listMyConversations
      parameters:
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseConversationResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Messagerie
      summary: Contact a listing — opens (or reuses) the thread and posts the first
        message
      operationId: startConversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartConversationRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ConversationResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/conversations/{id}/read:
    post:
      tags:
        - Messagerie
      summary: Mark the conversation's incoming messages as read
      operationId: markConversationRead
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/conversations/{id}/messages:
    get:
      tags:
        - Messagerie
      summary: "List a conversation's messages, newest first"
      operationId: listConversationMessages
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseMessageResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Messagerie
      summary: Post a message in a conversation
      operationId: sendMessage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/token/refresh:
    post:
      tags:
        - Authentication
      summary: Exchange a refresh token for a new token pair
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/social/login:
    post:
      tags:
        - Authentication
      summary: Log in with a Google or Apple ID token
      operationId: socialLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SocialLoginRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/register/professional:
    post:
      tags:
        - Authentication
      summary: Register a professional (AGENT or PRESTATAIRE); sends an OTP to verify
        the phone
      operationId: registerProfessional
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterProfessionalRequest"
        required: true
      responses:
        "202":
          description: Accepted
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/password/reset:
    post:
      tags:
        - Authentication
      summary: Complete a password reset with the OTP received on the phone
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "204":
          description: No Content
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/password/forgot:
    post:
      tags:
        - Authentication
      summary: Start a password reset; sends an OTP if the email has a password account
      operationId: forgotPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
        required: true
      responses:
        "202":
          description: Accepted
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/otp/verify:
    post:
      tags:
        - Authentication
      summary: Verify an OTP and obtain access + refresh tokens
      operationId: verifyOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/otp/resend:
    post:
      tags:
        - Authentication
      summary: Resend the OTP to a phone that has a pending verification
      operationId: resendOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpRequest"
        required: true
      responses:
        "202":
          description: Accepted
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/otp/request:
    post:
      tags:
        - Authentication
      summary: Request an OTP for a phone number
      operationId: requestOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpRequest"
        required: true
      responses:
        "202":
          description: Accepted
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/logout:
    post:
      tags:
        - Authentication
      summary: Revoke a refresh token (logout)
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
        required: true
      responses:
        "200":
          description: OK
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/login:
    post:
      tags:
        - Authentication
      summary: "Credential login step 1: verify email + password, sends an OTP second\
        \ factor"
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "202":
          description: Accepted
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/login/verify:
    post:
      tags:
        - Authentication
      summary: "Credential login step 2: verify the OTP and obtain access + refresh\
        \ tokens"
      operationId: verifyLoginOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginOtpRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces:
    get:
      tags:
        - Annonces
      summary: The prestataire's standalone listings; residence units are managed
        under /residences
      operationId: listMyAnnonces
      parameters:
        - name: includeResidenceUnits
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: residenceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: pageable
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Pageable"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageResponseAnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Annonces
      summary: Create a listing (draft)
      operationId: createAnnonce
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAnnonceRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{id}/unarchive:
    post:
      tags:
        - Annonces
      summary: Return an archived listing to draft so it can be published again (RM-M10-08)
      operationId: unarchiveAnnonce
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{id}/reserve:
    post:
      tags:
        - Annonces
      summary: Reserve a published listing (temporary hold)
      operationId: reserveAnnonce
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{id}/rented:
    post:
      tags:
        - Annonces
      summary: Mark a published or reserved listing as rented
      operationId: markAnnonceRented
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{id}/publish:
    post:
      tags:
        - Annonces
      summary: Publish a draft listing (profile complete + ≥3 photos + tier limit)
      operationId: publishAnnonce
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{id}/archive:
    post:
      tags:
        - Annonces
      summary: Archive a listing
      operationId: archiveAnnonce
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AnnonceResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicts with the current state — see the `error` code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/annonces/{annonceId}/agent:
    post:
      tags:
        - Assignation agent
      summary: Offer the listing to an agent (RM-M11-04)
      operationId: assignAgent
      parameters:
        - name: annonceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignAgentRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AssignmentResponse"
        "404":
          description: "The resource does not exist, or is not the caller's"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Authenticated but not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Missing, expired or invalid access token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Invalid request or a violated business rule — see the `error`
            code
          content:
            application/json:
              schema:
[...]
